* {
    margin: 0;
    padding: 0;

}

:root{
    --pink:#ff7bed;
    --blue:#377ff2;
    --purple:#cb5bff;
}

body {
    background-color: rgb(230, 230, 230)
}

.head-line {
    text-align: left;
    float: left;
}

.head-line{
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    display: block;
}
.head-line:hover{
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.4);
}

.title {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 25%;
    /*background:rgba(147, 230, 241, 0.2);*/
}

.background- {
    size: 100% 100%;
    float: left;
}

.title-lines {
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.title-lines li {
    float: left;
    line-height: 62px;
    margin: 0 40px;
}

.title-lines li a:hover {
    color: #000000;
}

.title-lines li a {
    text-decoration: none;
    color: #fff;
    padding: 0 auto;
    display: block;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 62px;
    background: rgba(255 99, 221, 0.3);
    min-width: 1200px;
    font-size: 14px;
}

.title-buttons {
    width: 1200px;
    height: 100%;
    padding: 0 27%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

/*Download part*/

.dtitle {
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
}

.download-dev {
    text-align: center;
    width: 1000px;
    padding: 10px 27%;
    margin: 10px auto 20px auto;
    box-sizing: border-box;
    position: relative;

}

.download-dev a {
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    border-radius: 0.375rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 1.1rem;
    padding: 1rem 1.25rem;
    background-image: linear-gradient(to bottom right, var(--blue), var(--purple));
    height: 120%;
    margin: 10px;
}

.download-dev a:hover{
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}


/*Developers*/

.title2{
    font-size: 3rem;
    text-align: center;
}

.developers{
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 300px;
    margin: 10px auto 20px auto;
    box-sizing: border-box;
    position: relative;
    border-radius: 0.4rem;
    display: block;
    padding: 2rem 1rem 2rem 1rem;
    transition: box-shadow 0.3s;
}

.developer{
    width: 256px;
    height: 256px;
    border-radius: 100%;
    border: 0px solid white;
    padding-bottom: 1.5rem;
}

.developers:hover{
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.5);
}

/*others*/
.question-button{
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 200px;
    margin: 2rem auto 2rem auto;
    box-sizing: border-box;
    position: relative;
    border-radius: 0.4rem;
    display: block;
    padding: 10px;
    transition: box-shadow 0.25s; 
    background-image: linear-gradient(to bottom right, var(--pink), var(--blue));
}

.question{
    text-decoration: none;
    color: #fff;
    padding: 0 auto;
    display: block;
}

.question-button:hover{
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.5);
}

/*end*/
.end{
    text-align: center;
    background-color: #000000;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.end.text{
    color: #a3a3a3;
    font-size: 0.9rem;
}